:root{
    --border: 1px solid #e8e8e8;
}

@import "_wp-reset.scss";
@import "_table.scss";

h1{
    font-weight: bold !important;
    margin-bottom: 10px !important;
}


#sqt-overlay {
    display: none;
}

#sqt-overlay  {
    display: flex !important;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
 
    .sqt-overlay-content{
        max-width: 800px;
        margin: 80px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .sqt-close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 24px;
        color: #333;

        &:hover{
            transform: scale(1.2);
        }
    }
}