@import "_wp-reset.scss";
@import "_table.scss";
@import "_overlay.scss";

h1{
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
}




.view-links{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: rgb(0, 140, 234);
    margin-left: 10px;
    font-size: 14px;

    svg{
        display: none;
        width: 12px;
        height: 12px;
    }

    &:hover{
        svg{
            display: block;
        }
    }
}